html.bg { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.nobg .questiontitle {
	background-color : #023588;
	color : white;
	text-align:center;
	width : 100%;
	border : 1px solid black;
}

html.nobg { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size : 0.7em;
}

body {	font-family: Arial, Helvetica, sans-serif;}

.unauthorized {margin-left : auto;margin-right : auto;}

#pagetitle, .unauthorized {    background: none repeat scroll 0 0 black;
	border: 2px solid #3c3c3c;
	border-radius: 0.5em;
	color: white;
	font-size:1.5em;
	padding: 1em;
	margin-bottom:0.5em;
	text-align: center;
	width:80%;
	opacity:0.6;
}

/* CAT */
#cat .selected, #subcat .selected, #question .selected {background-color:#8c8c8c;}

#cat {
width:23%;transition:width 0.5s;float:left;text-overflow: hidden;overflow: hidden;overflow-x: hidden;overflow-y:hidden;clear:both;padding-right:1em;
}

.catname {padding : 1em 1em 0 0;}
.catbuttons {padding : 0.8em 1em 0 0;}

#cat:hover {width:50%;}
#cat:hover ~ #question, #cat:hover ~ #subcat {width:23%;}


.catadmins input {	/*vertical-align: middle;*/
	border: 1px solid #CCC;
	color: #888;
	height: 2em;
	line-height:1.5em;
	margin-right: 0.5em;
 	margin-top: 0.5em;
	outline: 0 none;
	/*padding: 5px 0px 5px 5px;*/
	width: 100%;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;    
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	opacity : 0.9;}

.cat {background-color:#411c00;height:3em;font-size:1em;font-weight:bold;
	color:white;vertical-align:middle;opacity: 0.8;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.catadmins {vertical-align:middle;float:left;padding : 0em 0em 0.5em 1em;}
.catbuttons {float:left;padding-left:0.5em;padding-right:0.5em;}
.catbuttons img {height : 1.5em;}
/*.savecatadminsbutton, .modifycatadminsbutton {height : 1.5em;}*/




/* SubCat*/
#subcat { width:23%;float:left;transition:width 0.5s;text-overflow: ellipsis;overflow: hidden;padding : 0 1em 0 0;opacity: 0.8}
#subcat:hover {width:50%;}


.subcatdiv {/*height:2em;*/font-size:1em;font-weight:bold;background-color:#944000;
	color:white;vertical-align:middle;padding: 0.8em 0.4em 0.8em 0.4em;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

#AddSubCat, #ValidNewSubCat, #AddQuestion, #ValidNewQuestion, #Cat, .ValidModificationSubCat {height : 2em;vertical-align:middle;}
.modifysubcat {vertical-align:middle;height : 1.5em;padding-left: 0.3em;padding-right:0.5em;}
.delquestion,.delsubcat {vertical-align:middle;height : 1.5em;padding-left: 0.3em;padding-right:0.3em;}
/*Question*/
#question {overflow:hidden;text-overflow:ellipsis;width:23%;float:left;transition:width 0.5s;}
#question:hover { width:50%;}
.questiondiv{
/*height:2em;*/
font-size:1em;
font-weight:bold;
text-overflow: ellipsis;
overflow:hidden;
white-space: nowrap;
opacity: 0.8;
background-color:#e86500;
padding: 0.8em 0.4em 0.8em 0.4em;
color: white;
}
.questiondiv a,.questiondiv a:visited,.questiondiv a:hover {
color:white;
text-decoration:none;
}

/* Common */
.tabtitle{
    background: -moz-linear-gradient(center top , #8c8c8c 5%, #7d7d7d 100%) repeat scroll 0 0 #8c8c8c;
    border-left: 1px solid #a3a3a3;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
border-radius : 1em 1em 0 0;
padding : 0.7em 0 0.7em 0.7em;
}

#question input, #subcat input {
	/*vertical-align: middle;*/
	border: 1px solid #CCC;
	color: #888;
	height: 2em;
	line-height:1.5em;
	margin-right: 0.5em;
 	margin-top: 0em;
	outline: 0 none;
	/*padding: 5px 0px 5px 5px;*/
	width: 70%;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;    
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	opacity : 0.9;
}

/* Greeter */
#greeter {
    background: none repeat scroll 0 0 black;
    border: 2px solid #3c3c3c;
    border-radius: 0.5em;
    color: white;
    float: right;
    opacity: 0.4;
    padding: 1em;
    right: 0;
    text-align: center;
    width: 10%;
}
/* Modal */

.ui-widget-header {
	border: 1px solid #c35700;
	background: #e86500 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
}




.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0,0,0,0.8);
	z-index: 5;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

/*
.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
*/
 /*
.modalDialog .inner {
max-height: 90%;
   box-sizing: border-box;
    overflow-y: auto;
overflow-x:hidden;
}
*/
/*
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
*/
/*
.close:hover { background: #00d9ff; box-shadow: 1px 1px 3px #00d9ff;}
*/

.buttonscontainer {float:right;clear: both;}
.savebutton, .savebuttontitle {height:2em;}
.AddGroup, .RemGroup {height : 1.4em;}
.savebuttontitle {margin:0 0 2em 0;}
.edit-title {width : 100%;}
.inputacl {width : 100%; background-color : #ececec;}

.questiontitle,.acl {
	color: #444;
	margin: 0;
	padding: 0.5em 0em;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
}

.questionmodify {height : 2em;}

.searchgroup {vertical-align:bottom;margin-bottom: 0.5em;}

/* History Table */
.history {text-align:center;}
img.togglehistory {height:0.8em;}
.table-history {display:none;margin:auto;}
.table-history tr.pair {height:1em;font-size:0.7em;font-weight:bold;background-color:#411c00;color:white;opacity: 0.8}
.table-history tr td {padding:0em 1em 0em 1em;}
.table-history tr.odd {height:1em;font-size:0.7em;font-weight:bold;background-color:#944000;color:white;opacity: 0.8}
/* Fin History Table*/

.modalDialog .printable {float:left;}
.modalDialog .permalink {float:left;}

.modalDialog .permalink img,.modalDialog .printable img {
height : 2em;
}

/* Fin Modale */

#dialog {display:none;}


/** JQUERY-UI */

.ui-menu .ui-menu-item {
    cursor: pointer;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    margin: 0;
    min-height: 0;
    padding: 3px 1em 3px 0.4em;
    position: relative;
}

.ui-widget-content {
    background: url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #eeeeee;
    border: 1px solid #dddddd;
    color: #333333;
}

.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
}


/* PRINTABLE DOCUMENT */
.company_logo {width:100%;text-align:right;}
.company_logo img {width : 40%;}
.backbutton {float : left;}
.backbutton img {height:50px;}
@media print
{
    .no-print, .no-print *, .noprint, .noprint *
    {
        display: none !important;
    }
}

.cke {clear : both;}
